<div class="row">
  <div class="col-xs-10">
    <app-shoping-edit (addNewIngredent)="pushNewIngredent($event)"></app-shoping-edit>
    <hr>
    <input type="text" [(ngModel)]="filerValue" class="form-control">
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients | filter:filerValue; let i = index;"
        (click)="onEditItem(i)"
      >
        {{ingredient.name }} ({{ingredient.amount}})
      </a>
    </ul>
  </div>
</div>
